<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title
        >User Information <mat-icon>verified_user</mat-icon></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div class="liner"><p></p></div>
      <div class="main">
        <img
          src="../../../assets/image/man.png"
          alt="man image"
          height="60px"
          width="60px"
        />
        <p>{{ user_name }}</p>
      </div>
      <div class="row row-col-3 mains">
        <div class="col" *ngFor="let line of lines">
          <p style="text-align: center;font-size: 18px;
          font-family: cursive; font-weight: bold;">{{ line.content }}</p>
          <p style="text-align: center;font-size: 22px;">{{ line.text }}</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button mat-dialog-close cdkFocusInitial color="primary">Ok</button>
    </mat-card-actions>
  </mat-card>
</div>
