
.loader-content {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px 20px 15px 20px;
  }
  
  .spinner-border {
    width: 3rem; /* Adjust the size as needed */
    height: 3rem;
  }