<div class="mains">
  <mat-toolbar>
    <span class="example-spacer"></span>
    <button
      mat-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
    <img src="../../../assets/image/facebook.png" height="30px" width="30px">
    </button>
    <button
      mat-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <img src="../../../assets/image/facebook.png" height="30px" width="30px">
    </button>
  </mat-toolbar>
</div>
