<div class="mains">
  <mat-toolbar>
    <span class="example-spacer"></span>
    <p style="padding-top: 5px;">Connect With Me:</p>
    <button
      mat-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      (click)="onGithub()"
    >
    <img src="../../../assets/image/github.png" height="50px" width="50px">
    </button>
    <button
      mat-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="onLinkedin()"
    >
      <img src="../../../assets/image/linkedin.png" height="30px" width="30px">
    </button>
  </mat-toolbar>
</div>
